In [1]:
#Import packages
import numpy as np
import pandas as pd

In [2]:
#Loading the train data
train_data = pd.read_feather('D:\kaggle_American_Express_Default Prediction\\train_data.ftr')
                         
#Explore train data
train_data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [3]:
train_labels = pd.read_csv("D:\kaggle_American_Express_Default Prediction\\train_labels.csv")

In [4]:
train_data = train_data.merge(train_labels , how='left',on = 'customer_ID')
train_data

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603,0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600,0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531446,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2017-11-05,0.979332,0.416013,0.020818,0.828199,0.003487,0.090743,0.005340,0.025139,...,NaN,NaN,0.006838,0.003680,0.000457,NaN,0.000905,0.001498,0.002774,0
5531447,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2017-12-23,0.984907,0.296536,0.007209,0.812610,0.005904,0.079886,0.002243,0.023691,...,NaN,NaN,0.003310,0.007097,0.007857,NaN,0.002777,0.008225,0.008856,0
5531448,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-01-06,0.983019,0.443984,0.013151,0.815422,0.003457,0.100503,0.002111,0.012343,...,NaN,NaN,0.009955,0.009994,0.001088,NaN,0.005693,0.006773,0.005566,0
5531449,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-02-06,0.969861,0.442553,0.009855,1.003541,0.005117,0.101802,0.009930,0.008578,...,NaN,NaN,0.005541,0.006564,0.009883,NaN,0.008123,0.001168,0.003983,0
5531450,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-03-14,0.982175,0.002474,0.000077,0.992880,0.000809,0.119165,0.003287,0.014092,...,NaN,NaN,0.007316,0.002888,0.006207,NaN,0.005110,0.003184,0.001914,0

In [5]:
#Check shape of train data
train_data.shape

(5531451, 191)

In [6]:
#Check for number of unique customers
len(train_data.customer_ID.unique())

## We have 458913 unique customers.

458913

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
# Check for number of missing values
train_data.isnull().sum()

## Could be observed that there are many columns with many missing values

customer_ID          0
S_2                  0
P_2              45985
D_39                 0
B_1                  0
B_2               2016
R_1                  0
S_3            1020544
D_41              2016
B_3               2016
D_42           4740137
D_43           1658396
D_44            274319
B_4                  0
D_45              2017
B_5                  0
R_2                  0
D_46           1211699
D_47                 0
D_48            718725
D_49           4985917
B_6                233
B_7                  0
B_8              22268
D_50           3142402
D_51                 0
B_9                  0
R_3                  0
D_52             29563
P_3             301492
B_10                 0
D_53           4084585
S_5                  0
B_11                 0
S_6                  0
D_54              2016
R_4                  0
S_7            1020544
B_12                 0
S_8                  0
D_55            184803
D_56           2990943
B_13             49519
R_5                  0
D_58                 0
S_9            2933643
B_14                 0
D_59            106725
D_60                 0
D_61            598052
B_15              6923
S_11                 0
D_62            758161
D_63                 0
D_64            217442
D_65                 0
B_16              2016
B_17           3137598
B_18                 0
B_19              2016
D_66           4908097
B_20              2016
D_68            216503
S_12                 0
R_6                  0
S_13                 0
B_21                 0
D_69            194473
B_22              2016
D_70             94917
D_71                 0
D_72             23708
S_15                 0
B_23                 0
D_73           5475595
P_4                  0
D_74             21773
D_75                 0
D_76           4908954
B_24                 0
R_7                  1
D_77           2513912
B_25              6923
B_26              2016
D_78            274319
D_79             75939
R_8                  0
R_9            5218918
S_16                 0
D_80             21773
R_10                 0
R_11                 0
B_27              2016
D_81             25687
D_82           4058614
S_17                 0
R_12                56
B_28                 0
R_13                 0
D_83            194473
R_14                 1
R_15                 0
D_84             29563
R_16                 0
B_29           5150035
B_30              2016
S_18                 0
D_86                 0
D_87           5527586
R_17                 0
R_18                 0
D_88           5525447
B_31                 0
S_19                 0
R_19                 0
B_32                 0
S_20                 0
R_20                75
R_21                 0
B_33              2016
D_89             29563
R_22                 0
R_23                 0
D_91            157216
D_92                 0
D_93                 0
D_94                 0
R_24                 0
R_25                 0
D_96                 0
S_22             19024
S_23               445
S_24             18593
S_25             12847
S_26               634
D_102            40655
D_103           101548
D_104           101548
D_105          3021431
D_106          4990102
D_107           101548
B_36                 0
B_37                56
R_26           4922146
R_27            128703
B_38              2016
D_108          5502513
D_109             1597
D_110          5500117
D_111          5500117
B_39           5497819
D_112             2650
B_40                53
S_27           1400935
D_113           176716
D_114           176716
D_115           176716
D_116           176716
D_117           176716
D_118           176716
D_119           176716
D_120           176716
D_121           176716
D_122           176716
D_123           176716
D_124           176716
D_125           176716
D_126           116816
D_127                0
D_128           101548
D_129           101548
B_41               690
B_42           5459973
D_130           101548
D_131           101548
D_132          4988874
D_133            42716
R_28                 0
D_134          5336752
D_135          5336752
D_136          5336752
D_137          5336752
D_138          5336752
D_139           101548
D_140            40632
D_141           101548
D_142          4587043
D_143           101548
D_144            40727
D_145           101548
target               0
dtype: int64

In [8]:
# There are multiple transactions. Lets take only the latest transaction from each customer.
train=train_data.groupby('customer_ID').tail(1)
train=train.set_index(['customer_ID'])

#Drop date column since it is no longer relevant
train.drop(['S_2'],axis=1,inplace=True)
#Check for number of rows
train.shape
# We now have 458913 rows, which corresponds to the number of unique customers.

(458913, 189)

In [9]:
# Check for percentage of defaults to percentage of defaults and non-defaults
Percentage=len(train[train.target==1])*100/len(train)
Percentage
#Only about 25.9% of the data are with defaults

25.89336105100531

In [10]:
#Lets remove columns if there are >90% of missing values.
#Given that there are many columns with large number of missing values, it is impractical to go through every single one of them to determine whether it is useful. 
#Furthermore, we do not have information on the feature (e.g. actual name of the feature) except the type of variable
#Brute force is thus a practical option to weed out columns with too many missing values.
#Since about 25.9% of the data are defaults(74.1% non-defaults), it is safe to say that columns with >90% missing data are not useful.
train=train.dropna(axis=1, thresh=int(0.90*len(train)))

#Checking the shape of new train data
train.shape
## We are now left with 150 columns

(458913, 150)

In [11]:
#Identify columns which are not numeric
train.select_dtypes(['object'])

##D_63 and D_64 turns out to be categorical but are strings

                                                   D_63 D_64
customer_ID
0000099d6bd597052cdcda90ffabf56573fe9d7c79be5fb...   CR    O
00000fd6641609c6ece5454664794f0340ad84dddce9a26...   CO    O
00001b22f846c82c51f6e3958ccd81970162bae8b007e80...   CO    R
000041bdba6ecadd89a52d11886e8eaaec9325906c97233...   CO    O
00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8ad...   CO    O
...                                                 ...  ...
ffff41c8a52833b56430603969b9ca48d208e7c192c6a40...   CO    U
ffff518bb2075e4816ee3fe9f3b152c57fc0e6f01bf7fdd...   CO    R
ffff9984b999fccb2b6127635ed0736dda94e544e67e026...   CO    U
ffffa5c46bc8de74f5a4554e74e239c8dee6b9baf388145...   CO    U
fffff1d38b785cef84adeace64f8f83db3a0c31e8d92eab...   CL    O

[458913 rows x 2 columns]

In [12]:
#Perform one-hot encoding for D_63 and D_64
#Drop columns D_63 and D_64 subsequently
train_D63 = pd.get_dummies(train[['D_63']])
train = pd.concat([train, train_D63], axis=1)
train = train.drop(['D_63'], axis=1)

train_D64 = pd.get_dummies(train[['D_64']])
train = pd.concat([train, train_D64], axis=1)
train = train.drop(['D_64'], axis=1)

In [13]:
#Lets check for the columns
train.columns
# We now have 196 columns including target
# We need to reduce the dimensionality of the data

Index(['P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'D_41', 'B_3', 'D_44', 'B_4', 'D_45',
       ...
       'target', 'D_63_CL', 'D_63_CO', 'D_63_CR', 'D_63_XL', 'D_63_XM', 'D_63_XZ', 'D_64_O', 'D_64_R', 'D_64_U'], dtype='object', length=157)

In [14]:
# We shall remove highly correlated features.
train_without_target=train.drop(['target'],axis=1)
cor_matrix = train_without_target.corr().abs()
upper_tri = cor_matrix.where((np.triu(np.ones(cor_matrix.shape), k=1) + np.tril(np.ones(cor_matrix.shape), k=-1)).astype(bool))
#Drop out columns with absolute correlation of more than 90%
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.90)]
train_drop_highcorr=train_without_target.drop(to_drop,axis=1)
train_drop_highcorr.shape
#We are now left with 133 columns (excluding target), which is still significant

(458913, 133)

In [15]:
# Lets remove columns with low variance=0.06. Keep only columns with high variance
from sklearn.feature_selection import VarianceThreshold
from itertools import compress
def fs_variance(df, threshold:float=0.06):
    """
    Return a list of selected variables based on the threshold.
    """
    # The list of columns in the data frame
    features = list(df.columns)
    
    # Initialize and fit the method
    vt = VarianceThreshold(threshold = threshold)
    _ = vt.fit(df)
    
    # Get which column names which pass the threshold
    feat_select = list(compress(features, vt.get_support()))
    
    return feat_select
columns_to_keep=fs_variance(train_drop_highcorr)
# We are left with 74 columns (excluding target), which passed the threshold.
train_final=train[columns_to_keep]
len(columns_to_keep)

74

In [16]:
#Concat target onto train_final
train_final1=train_final.join(train['target'])
x_train=train_final1.drop(['target'],axis=1)
y_train=train_final1['target']

In [53]:
# Split train data into training and testing sets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score  
from sklearn.metrics import precision_score                         
from sklearn.metrics import recall_score
x_train_split, x_test_split, y_train_split, y_test_split = train_test_split(x_train, y_train, test_size=0.25, random_state=26)

In [54]:
# Use XGBoost Classifier
from xgboost import XGBClassifier
model=XGBClassifier(objective='binary:logistic')
model.fit(x_train_split,y_train_split)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [55]:
#Test the model
y_predict=model.predict(x_test_split)
print('\XGBoost Classifier Accuracy: {:.3f}'.format(accuracy_score(y_test_split, y_predict)))
# Achieved 89.3% accuracy

\XGBoost Classifier Accuracy: 0.892

In [56]:
print('\nXGBoost Classifier Precision: {:.3f}'.format(precision_score (y_test_split, y_predict)))
# Achieved Precision Score of 0.794

XGBoost Classifier Precision: 0.793

In [57]:
print('\nXGBoost Classifier Recall: {:.3f}'.format(recall_score (y_test_split, y_predict)))
#Achieved Recall Score of 0.787

XGBoost Classifier Recall: 0.787